@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;500;600;700&family=Inter:wght@100;400;500;700&display=swap');

:root {
    --bg-01: #090D16;
    --bg-02: #E2ECFF;
    --text-01: #B3C2DF;
    --text-02: #090D16;
    --color-hover: #444856;
    --font-body: "Inter";
    --font-box: "Darker Grotesque"
}

.bg-fixo{
    background-color: var(--bg-01);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-02);
    color: var(--text-02);
    font-family: var(--font-body), sans-serif;
}

h1, h2 {
    color: var(--text-02);
    font-weight: 700;
}


img {
    max-width: 240px;
}

.navbar{
    background: #F0F5FF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar a{
    color: var(--text-02);
    font-weight: 400;
}

.navbar a:hover{
    color: var(--text-02);
    font-weight: 500;
}

#coluna-fixa{
    background-color: var(--bg-01);
    color: var(--text-01);
}

#nome{
    font-family: "Darker Grotesque" sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: var(--text-01);
}

#mim{
    font-weight: 300;
    font-family: "Darker Grotesque" sans-serif;
}

#coluna-2 a{
    color: var(--text-02);
    font-weight: 700;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.4s ease;
}

#coluna-2 a:hover{
    color: var(--color-hover);
}

@media (max-width: 991px) {
    #coluna-fixa {
      position: static;
      height: auto;
      z-index: -1;
      
    }
  }

  @media (max-width: 991px) {
    #coluna-2 {
      margin-left: 0;
    }
  }
  

  